// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

//formscss
@import "form.scss";
$res-max-width:414px;




.all-wrapper{
  width: 100%;
  min-width: 100%;
  height: 100%;
  position: relative;
  @media screen and (max-width: $res-max-width){
    height: 100vh;
  }

  
}

.contents-wrapper{
  padding-bottom: 100px;
  position: relative;
}

//サイド
.widget-wrapper{
  width: 25px;
  height: 100px;
  background-color: #72e68a;
  z-index: 30;
  margin-top: 60px;
  font-size: 14px;
  writing-mode: vertical-rl;
  text-align: center;
  cursor: pointer;
  position: relative;;
  &:after{
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 29;
    transition: all 0.1s;
    background: white;
    border: 2px solid #3490dc;
  }
  div{
    z-index:50;
    position: inherit;
    &:hover{
      color: black;
      opacity:0.9;
    }
  }

  &:hover:after{
    transform: scaleX(1.1) scaleY(1.03);
  }
}

.favs-window{
  display: none;
  width: 100%;
  position: fixed;
  bottom:0;
  left:0;
  z-index: 1000;
  background-color: #e9f9f4;
  padding-bottom: 50px;
  animation-name: LeftToRight;
  animation-duration: 0.5s;
  transition: opacity 300ms;

}

.fav-lead{
  text-align: center;
  margin: 20px;
  font-family: "M PLUS Rounded 1c";
}

.favs-none{
  font-family: "M PLUS Rounded 1c";
  width: 100%;
  margin: auto;
  text-align: center;
}

.favs-posts-wrapper{
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.favs-post{
  height: 80%;
  max-width: 25%;
  margin: auto;
  overflow: hidden;
  img{
    width: 100%;
    &:hover{
      opacity: 0.8;

    }
  }

}


//フッター
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  background-color: #71caff;
  font-size: 10px;
  line-height: 40px;
  text-align: right;
  padding-right: 15px;
  @media screen and (max-width: $res-max-width){
    height: 40px;
  }


}



.icon-star{
  color: yellow;
  text-shadow: 1px solid black;
}

.sp-menu-box{
  display: none;
  position: fixed;
  top: 10px;
  right: 20px;
  background-color: white;  
  @media screen and (max-width: $res-max-width){
    display: block;
    z-index: 30;
    padding: 5px;
    border: solid 2px skyblue;
  }
}

.icon-mixcoud{
  font-size: 30px;
  color: skyblue;
  background-color: white;
}

html{
    font-size: 80.5%;
    font-family: "M PLUS Rounded 1c";
}

body{
    color: #333;
    font-size: 1.6rem;
}

p{
  font-size: 16px;
}
li{
  list-style: none;
}
a{
  color: black;
  &:hover{
    text-decoration: none;
    color: skyblue;
    transition: ease;
  }
}

/*スタート時のコンテンツ*/

.start{
  background: #FFF;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
  z-index: 9000;
  h2{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: none;
    z-index: 10;
    width: 100%;
    font-size: 60px;
    text-align: center;
    span{
      font-size:120px;
      color: #1da1f2;
    }
  }
}


/*ヘッダー*/
.header-container.hide{//スクロール中消えるヘッダー
  transform: translateY(-100%);
  transition: .5s;
  background-color: #479cf2d4;
  }

.header-container{
  width: 100%;
  height:60px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 2;
  background-color: white;
  transition: 0.5s;
  border-bottom: 2px solid #3490dc;
  @media screen and (max-width: $res-max-width){
    display: block;
    transition: .5s;
    transform: translateX(-100%);
    height: 100%;
    width: 80%;
    font-size: 12px;
    z-index: 2;
  }
  


  .header-left{
    font-size: 14px;
    width: 30%;
    text-align: center;
    a{
      display: inline-block;
      height: 60px;
      line-height: 60px;
      margin: auto;
    }
    @media screen and (max-width: $res-max-width){
      width: 100%;
      margin: 50px auto;
    }
  }

  .header-right{
    font-size: 12px;
    width: 65%;
    height: 100%;
    @media screen and (max-width: $res-max-width){
      font-size: 10px;
      width: 100%;
    }

    .header-right-ul{
      display:flex;
      flex-wrap: nowrap;
      justify-content: space-around;
      height: 60px;
      line-height: 60px;
      @media screen and (max-width: $res-max-width){
        display: block;       
        width: 100%;
        text-align: center;
        padding-left: 0px;
      }

    }
  }
}



/*ビルボードの表示*/

.top-billbord_btn{
  width: 200px;
  height: 50px;
  margin: 50px 20px;
  
  font-size: 16px;
  position: relative;
  display: inline-block;
  line-height: 50px;
  background-color:white;
  color:black;
  box-shadow: 2px 2px;
  border-radius: 20px;

}

.top-billbord_btn::before{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: '';
  background-color: #1da1f2b8;
  transform-origin: right top;
  transform: scale(0, 1);
  transition: transform .3s;
  z-index: -1;
  border-radius: 20px;
}

.top-billbord_btn:hover{
  text-decoration: none;
  transform: scale(1, 1);
  color: black;
}

.top-billbord_btn:hover::before{
  transform-origin: left top;
  transform: scale(1, 1);
}


.top-billbord{
  height: 90vh;
  width: 100%;
  background-image: url(../img/skytop.jpg);
  background-size: cover;
  position: relative;
  text-align: center;
  h1{
    font-size: 50px;
    text-align: center;
    padding-top: 200px;
    color: black;
    text-shadow: 2px 2px white;
    font-family: "M PLUS Rounded 1c";
    @media screen and (max-width: $res-max-width){
      font-size: 30px;
      }
  }
  p{
    font-size: 20px;
    text-align: center;
    margin: 30px auto;
    line-height: 40px;
    color:black;
    text-shadow: 2px 2px white;
    font-family: "M PLUS Rounded 1c";
    @media screen and (max-width: $res-max-width){
      font-size: 16px;
      }
   
  }
}

.content-lead{
    text-align: center;
    margin: 100px;
    font-size: 40px;
    border-bottom: 2px #8ac8c8 solid
}

.top-explain{
  width: 80%;
  height: auto;
  margin: auto;
    @media screen and (max-width: $res-max-width){
      margin: 50px auto;
      font-size: 25px;
      
      }
      h2{
        margin: 65px auto;
        text-align: center;
      }
  }


.top-posts{
  text-align: center;
  font-size: 40px;
  width: 80%;
  @media screen and (max-width: $res-max-width){
    margin: 50px auto 20px auto;
    font-size:25px;
    }
    a{
      text-decoration: none;
      color: black;
    }
}
.top-posts-p{
  text-decoration: none;
  color:black;
  font-size: 16px;
  text-align: center;
  a{
    color: black;
    background: #79ffff;
    padding: 5px 20px;
    box-shadow: 2px 2px 2px;
  }
}

.step{
  &__wrapper{
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: space-around;
    @media screen and (max-width: $res-max-width){
      display: block;
      }
  }
  &__signup{
    width: 30%;
    @media screen and (max-width: $res-max-width){
      width: 100%;
      margin-bottom: 50px;
      }
    h3{
      font-size: 20px;
      margin: 10px;
    }
    .fa-twitter{
      font-size: 150px;
      color: rgb(29, 161, 242);
    }
    p{
      margin-top: 5px;
      text-align: center;
      font-size: 12px;
    }
  }
  &__photo{
    width: 30%;
    @media screen and (max-width: $res-max-width){
      width: 100%;
      margin-bottom: 50px;
      }
    h3{
      font-size: 20px;
      margin: 10px;
    }
    img{
      width: 80%;
      margin: auto;
      border-radius: 10%;
    }
    }
  &__post{
    width: 30%;
    @media screen and (max-width: $res-max-width){
      width: 100%;
      margin-bottom: 50px;
      }
    h3{
      font-size: 20px;
      margin: 10px;
    }
    img{
      width: 80%;
      margin: auto;
      border-radius: 10%;
    }
  }

  
}

.ol_badge {
  display: inline-block;
  padding: 0.25em 0.4em;
  font-size: 50%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.show-billbord{
  max-width: 85%;
  margin: 5% auto;
  padding: 5%;
  text-align: center;
  letter-spacing: 1px;
  padding: 5%;
  img{
    border:black 5px solid;
  }
}

.like-button{
  font-size: 14px;
  padding: 3px 10px;
}

.top-eachposts{
  //width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 40px auto;
  box-sizing: border-box;
}
ul{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}  

.top-eachpost{
  text-align: center;
  width: 40%;
  margin: 20px auto;
  @media screen and (max-width: $res-max-width){
    margin: 10px auto;
    }
}

.img_whrapper{
  width: 100%;
  overflow: hidden;
  position: relative;
  border: black 3px solid;
  @media screen and (max-width: $res-max-width){
    height: 90px;
  }
  .caption{
    width: 100%;
    font-size: 80%;
    text-align: center;
    color: #fff;
    background: #f5dcdc0d;
    height: 100%;    
    @media screen and (max-width: $res-max-width){
      display: none;
    }
      a{
        color: white;
        display: inline-block;
        padding: 5px;
        font-size: 20px;
        vertical-align: middle;
        margin-top: 15%;
        font-weight: lighter;
        background-color: #ffffff3b;
        @media screen and (max-width: $res-max-width){
          font-size:14px;
          margin-top: 0%;
        }
        &:hover{
          color:black;
          background-color: white;
        }
      }
  }
  .mask{
    width:			100%;
    height:			100%;
    position:		absolute;
    top:			0;
    left:			0;
    opacity:		0;	
    background-color:	rgba(0,0,0,0.4);
    -webkit-transition:	all 0.6s ease;
    transition:		all 0.3s ease;
    @media screen and (max-width: $res-max-width){
      display: none;
      padding-top: 20%;
      background-color:	rgba(0, 0, 0, 0);
      }
  }
}

.sp-eachpost-title{
  display: none;
  @media screen and (max-width: $res-max-width){
    display: block;
    font-size: 12px;
  }

}


.gallerysearch-box{
  text-align: center;
  input{
    margin:10px;
  }
  .btn{
    width: 200px;
  }
}
/*カテゴリーページ*/


.img_whrapper:hover .mask{
  opacity: 1;
  //padding-top: 20%;
  margin: auto;
}


.time_info{
  font-size: 10px;
  letter-spacing: 1px;
}

.card_add{
  max-width: 100%;
  background-color: #eee8aa;
}

.image-l{
  width: 100%;

}
.image-m{
  width: 940px;
  //height: 600px;
  @media screen and (max-width: $res-max-width){
    width: auto;
    height:auto;
    }
}

.image-s{
  width: 300px;
  @media screen and (max-width: $res-max-width){
    width: 80%;
    height:auto;
    margin-top: 10px;
    }
}

.font-s{
  font-size: 16px;
}
.font-m{
  font-size: 20px;
  display: inline-block;
  &::after{
    border-bottom: solid 2px #2176bd;
    bottom: 0;
    content: "";
    display: block;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    width: 0;

  }
  
}


.font-m:hover::after {
  width: 100%;
}

/*flexboxでmasonry的動き*/
.flexbox{
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  /*height: 30vw;  ビューポート(幅)を基準に表示高を指定 */
}

.grid{
  overflow: hidden;
}
.grid-item {
  width: 220px;
  margin: 5px;
  float: left;
  border: 1px solid #ccc;
  background: #eee;
  box-shadow: 0 2px 1px #eee;
}
.gird-item .image {
  display: block;
  width: 100%;
  height: 109px;
}



.category__bg::before{
  content:"";
  display: block;
  position: fixed;
  top:0;
  left:0;
  z-index:-1;
  width:100%;
  height:100vh;
  background-image: url(../img/sky_cloud.jpg);
  background-size: cover;
}


.choice{
  line-height: 100px;
  height: 100%;
}
.c-category{
    &__wrapper{
        width: 100%;
    }
    &__btn-wrapper{
        justify-content:space-around;
        display: flex;
        height: 100px;
        background: white;
    &__btn{
      width : calc(100% / 3);
    }    
    }
    &__posts{
        width:100%;
        text-align: center;
    }
    &__header{
        width: 50%;
        padding-top: 50px;
        float: left;
        height: 60vh;
        margin-bottom: 50px;
        @media screen and (max-width: $res-max-width){
          width: 50%;
          height: 40vh;
          }
        h4{
          color: white;
          font-size:20px;
        }
        p{
          color: white;
        }
        ul{
          margin-top: 20px;
        }
        img{
          width: 70%;
          border: 10px solid black;
        }
    }
    &__morning{
        background-color:#b0704275;
        overflow: hidden;
        min-height: 100vh;
        ul{
          padding: 0;
        }
        
    }
    &__daytime{
      overflow: hidden;
      min-height: 100vh;
        ul{
          padding: 0;
        }
    }
    &__night{
        background-color: #44449763;
        overflow: hidden;
        min-height: 100vh;
        ul{
          padding: 0;
        }
    }
}

.post-warn{
  font-size: 16px;
  color:red;
}

.show-container{
  height: 100vh;
  @media screen and (max-width: $res-max-width){
    height: 80vh;
  }
}


//マイページ//

.mypage-read{
    font-size:24px;
    text-align: center;
    margin: 60px auto;
}

.mypage{
  width: 80%;
  display: flex;
  flex-wrap:wrap;
  justify-content: space-between;
  .user{
    &__wrapper{
      margin: auto;
      width: 30%;
    }
  }
}

.posts{
  &__wrapper{
    width: 70%;
  }
}

//その他コンテンツ//

.center{
  text-align: center;
}
.space{
  height: 40px;
  width: 100%;
  background: white;
  @media screen and (max-width: $res-max-width){
    height: 20px;
    }
}

.header-space{
  height: 60px;
  width: 100%;
  @media screen and (max-width: $res-max-width){
    display: none;
  }
}

.header-sp-space{
  display: none;
  @media screen and (max-width: $res-max-width){
    display: block;
    height: 70px;
    width: 100%;
  }
  a {
    font-size: 16px;
    margin-left: 20px;
    padding-top: 20px;
    display: block;
}

}


@keyframes gradationMorning {
  0% { background-color: #6CB8FF; }
  50% { background-color: rgba(179, 187, 131, 0.801); }
  100% { background-color: #e88d4b47 }
  }


@keyframes LeftToRight {
  0% {
    opacity: 0;/* 透明 */
    transform: translateX(-60%);/* X軸方向に50px */
  }
  100% {
    opacity: 1;/* 不透明 */
    transform: translateX(0);
  }
}
